:root{
  --font-color: rgb(131, 49, 24);
  --yellow-light: rgb(255, 208, 105);
  --yellow-mid: rgb(252, 184, 57);
  --yellow-dark: rgb(199, 147, 35);
  --green-light: rgb(241, 233, 204);
  --green-mid: rgb(223, 223, 181);
  --green-dark: ;
  --green-banner: rgb(116, 185, 121);
  --background-offwhite: rgb(240, 236, 222);

}

/* Header CSS */
.jumbotron{
  background-color: var(--green-mid);
  padding: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
}

.logo{
  padding-left: 15px;
  padding-top: 15px;
}

.title{
  color: var(--font-color);
  font-family: 'Cookie', cursive;
  font-size: 3.75rem;
  text-align: center;
  margin: auto;
}

.donate-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 15px;
  padding-top: 10px;
}

.donate-btn{
  border: 1px solid black;
  margin-top: 5px;
  font-family: 'Josefin Sans', sans-serif;
}

/* Meida Query to Change Title font size */
@media (min-width: 768px) {
  .title { font-size: 5rem; }
}

@media (min-width: 992px) {
  .title { font-size: 7rem; }
}

@media (min-width: 1200px) {
  .title { font-size: 8rem; }
}

/* Nav Bar CSS */
.navbar{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25rem;
  background-color: var(--yellow-light);
}

.navbar-toggler{
  background-color: rgb(255, 255, 255);
  float: right;
}

.navbar-title{
  font-family: 'Josefin Sans', sans-serif;
  color: var(--font-color);
  font-size: 1.5rem;
  text-decoration: none;
}

a:hover.nav-link{
  text-decoration: underline;
}