:root{
  --font-color: rgb(131, 49, 24);
  --yellow-faint: rgb(250, 240, 218);
  --yellow-light: rgb(255, 208, 105);
  --yellow-mid: rgb(252, 184, 57);
  --yellow-dark: rgb(199, 147, 35);
  --green-light: rgb(241, 233, 204);
  --green-mid: rgb(223, 223, 181);
  --green-dark: ;
  --green-banner: rgb(116, 185, 121);
  --background-offwhite: rgb(240, 236, 222);

}

/* Header CSS */
.jumbotron{
  background-color: var(--green-mid);
  padding: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
}

.logo{
  padding-left: 15px;
  padding-top: 15px;
}

.title{
  color: var(--font-color);
  font-family: 'Cookie', cursive;
  font-size: 3.75rem;
  text-align: center;
  margin: auto;
}

.donate-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 15px;
  padding-top: 10px;
}

.donate-btn{
  border: 1px solid black;
  margin-top: 5px;
  font-family: 'Josefin Sans', sans-serif;
}

/* Meida Query to Change Title font size */
@media (min-width: 768px) {
  .title { font-size: 5rem; }
}

@media (min-width: 992px) {
  .title { font-size: 7rem; }
}

@media (min-width: 1200px) {
  .title { font-size: 8rem; }
}

/* Nav Bar CSS */
.navbar{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25rem;
  background-color: var(--yellow-light);
}

.navbar-toggler{
  background-color: rgb(255, 255, 255);
  float: right;
}

.navbar-title{
  font-family: 'Josefin Sans', sans-serif;
  color: var(--font-color);
  font-size: 1.5rem;
  text-decoration: none;
}

a:hover.nav-link{
  text-decoration: underline;
}

/* Footer CSS */
.site-footer{
  background-color: var(--green-mid);
  font-family: 'Josefin Sans', sans-serif;
}

.site-footer h5{
  margin-top: 5px;
  text-decoration: underline;
}

/* Body CSS */
.body{
  overflow: hidden;
  font-family: 'Josefin Sans', sans-serif;
}

.body h1{
  font-family: 'Cookie', cursive;
}

.row-home{
  overflow: hidden;
  display: flex;
  padding: 0px;
  margin: 0px;
  max-height: 400px;
}

.col-photo{
  display: flex;
  overflow: hidden;
  object-fit: cover;
  padding: 0px;
  margin: 0px;
}

.banner{
  font-size: 1.5rem;
  padding: 5px;
  text-align: center;
  background-color: var(--green-banner);
}


/* Info Cards */
.info-card{
  text-align: center;
  font-size: .95rem;
  display: flex;
  flex-direction: column;
  height: 250px;
  padding-top: 10px;
}

.info-card h5{
  margin-top: 10px;
}


.card-left{
  background-color: var(--green-mid);
  padding-left: 10px;
}

.card-middle-1{
  background-color: var(--yellow-light);
}

.card-middle-2{
  background-color: var(--yellow-mid);
}

.card-right{
  background-color: var(--yellow-dark);
  padding-right: 10px;
}

.btn-outline{
  border: 1px solid black;
  margin: auto auto 10px;
  max-width: 100%;
}

/* Events */
.events{
  text-align: center;
  background-color: var(--green-light);
  padding-top: 10px;
  overflow: hidden;
  padding-bottom: 20px;

}

.event-col{
  margin: auto;
}

.btn-event{
  border: 1px black solid;
}

/* Newsletter */
.newsletter{
  padding-top: 16px;
  background-color: var(--green-light);
  text-align: center;
}

.form-group{
  padding: 10px;
}

/* About HTML */
.row-about{
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.col-about-photo{
  display: flex;
  overflow: hidden;
  object-fit: cover;
  padding: 0px;
}

.col-about-text{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding-top: 10px;
  font-size: 1rem;
}

.about-top{
  background-color: var(--yellow-mid);
}

.about-bottom{
  background-color: var(--yellow-dark);
}

.mission-banner{
  text-align: center;
  padding: 10px;
  background-color: var(--yellow-light);
}

.statistics{
  text-align: center;
  background-color: var(--green-light);
}

/* Adopt CSS */ 
.adopt-body{
  background-color: var(--green-light);
}
.adopt-header{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
  background-color: var(--green-light);
}

.adopt-header h1{
  font-family: 'Cookie', cursive;
  text-decoration: underline;
}

.gallery {
  border: 1px solid #ccc;
  height: 575px;
  position: relative;
  background-color: var(--background-offwhite);
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.adopt-image {
  height: 250px;
  overflow: hidden;
  width: 100%;
}

.adopt-description {
  padding: 15px;
  text-align: center;
}

.adopt-description h1{
  font-family: 'Cookie', cursive;
}

.adopt-button {
  justify-content: center;
  bottom: 10px;
  position: absolute;
  left: 25%;
  right: 25%;
}

/* Adopt Card Responsiveness */
.responsive {
  padding: 10px;
  float: left;
  width: 16.66667%;
}

@media only screen and (max-width: 1325px) {
  .responsive {
    width: 24.99999%;
  }
}
@media only screen and (max-width: 885px) {
  .responsive {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
  }
}

/* Vex Adopt Page */ 
.profile{
  background-color: var(--green-mid);
  height: 450px;
  overflow: hidden;
  justify-content: center;
  display: flex;
}

.profile-info{
  text-align: center;
  padding-top: 15px;
}

.profile-info h1{
  font-family: 'Cookie', cursive;
}

.profile-image{
  max-width: 500px;
  min-height: 450px;
  object-fit: cover;
  overflow: hidden;
}

.rating-bar{
  background-color: var(--background-offwhite);
  padding: 10px;
  text-align: center;
}

.checked{
  color: var(--yellow-mid)
}

.bio-includes{
  background-color: var(--yellow-light);
  padding-top: 10px;
  text-align: center;
}

.bio-paragraph{
  background-color: var(--green-light);
  padding-top: 10px;
}

.bio h3, h1{
  font-family: 'Cookie', cursive;
}

/* Care Page CSS */ 
.care-checklist{
  text-align: center;
  padding: 10px;
  background-color: var(--background-offwhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.care-header{
  text-align: center;
  background-color: var(--yellow-light);
  padding: 10px;
}

.care-card-holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--green-light);
}

.card-care{
  margin: 10px;
  height: 500px;
  background-color: var(--background-offwhite);
  text-align: center;
}

.card-img-top{
  height: 250px;
  object-fit: cover;
}

.btn-read{
  border: 1px solid black;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 25%;
  right: 25%;
}

.contact-info{
  text-align: center;
  padding-top: 10px;
  background-color: var(--green-light);
}

.contact-form{
  text-align: center;
  padding-top: 10px;
  background-color: var(--yellow-faint);
}
